
#--------------------------------------------------------------------
# ENVIRONMENT
# Ubah ke 'production' saat deploy ke hosting
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP URL
# Sesuaikan dengan URL instalasi Anda (TAMBAHKAN PORT JIKA BUKAN PORT 80)
# Contoh lokal default : http://localhost/koperasi/public/
# Contoh lokal custom  : http://localhost:8088/koperasi/public/
# Contoh hosting       : https://namadomain.com/
#--------------------------------------------------------------------
app.baseURL = 'http://localhost/koperasi/public/'

#--------------------------------------------------------------------
# DATABASE
# Isi sesuai konfigurasi MySQL Anda
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = koperasi_db
database.default.username = root
database.default.password = ''
database.default.DBDriver = MySQLi
database.default.port     = 3306
